@{
    ViewData["Title"] = "Tagaro Page";
}

<div class="text-center">
    <marquee><h1 class="display-4">I'm Tagaro. Hi and Welcome to my Page'</h1></marquee>
    <p class="text-capitalize font-weight-bolder">This is my mlbb heroes.</p>
</div>

<div class="card">
    <div class="container text-center text">
        <div class="row">
            <div class="col-sm card ">
                <div class="card-title">Mage</div>
                <img class="card-img" src="https://th.bing.com/th/id/OIP.emveFwPM4o1zcFGXbQubSAHaEK?pid=ImgDet&rs=1">
                <div class="card-body">Nana</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Roam</div>
                <img class="card-img" src="https://th.bing.com/th/id/OIP.eAp7E3idQ7t5D7g2Zu2cZgHaEK?pid=ImgDet&rs=1">
                <div class="card-body">Mathilda</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Core</div>
                <img class="card-img" src="https://cdn.oneesports.gg/cdn-data/wp-content/uploads/2021/01/MobileLegends_Belerick_TheDeepOne.jpg">
                <div class="card-body">Belerick</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Marksman</div>
                <img class="card-img" src="https://cdn.oneesports.gg/cdn-data/2023/03/MLBB_Hellfire_Irithel.jpg">
                <div class="card-body">Irithel</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Fighter</div>
                <img class="card-img" src="https://cdn.oneesports.gg/cdn-data/2023/07/MLBB_Alpha_OnimushaCommander_skin.jpg">
                <div class="card-body">Alpha</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm card">
                <div class="card-title">Mage</div>
                <img class="card-img" src="https://cdn.oneesports.gg/cdn-data/2022/03/MLBB_Xavier-1.jpg">
                <div class="card-body">Xavier</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Roam</div>
                <img class="card-img" src="https://cdn.oneesports.gg/cdn-data/2022/08/MLBB_BlacklistInternationalEstes.jpg">
                <div class="card-body">Estes</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Core</div>
                <img class="card-img" src="https://cdn.oneesports.gg/cdn-data/2023/02/MLBB_Arlott_defaultappearance.webp">
                <div class="card-body">Arlot</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Marksman</div>
                <img class="card-img" src="https://gamingonphone.com/wp-content/uploads/2023/07/Ixia-Mobile-Legends-Game-Guide-Hero-Cover.jpg">
                <div class="card-body">Ixia</div>
            </div>
            <div class="col-sm card">
                <div class="card-title">Fighter</div>
                <img class="card-img" src="https://gamingonphone.com/wp-content/uploads/2022/03/Terizla-Mobile-Legends-MLBB-Game-Guide-Cover.jpg">
                <div class="card-body">Terizla</div>
            </div>
        </div>
    </div>
</div>
