@{
    ViewData["Title"] = "Cabucos Page";
}

<div class="text-center my-5">
    <h1 class="display-8">About Me</h1>
</div>
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">Lester Allen P. Cabucos</h5>
                    <hr class="my-4" />
                    <p class="card-text">I am engrossed in a variety of hobbies and interests, notably reading manhwa, indulging in movies, and immersing myself in online games. My world swirls around exploring different universes, either through visual mediums or interactive gameplay.</p>
                    <div class="text-center mt-4">
                        <a href="mailto:l.a.cabucos@gmail.com" class="btn btn-outline-primary btn-lg">Let's Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


