@{
    ViewData["Title"] = "Demo Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Hi! Welcome to my Life!!!</h1>

</div>

<main role="main">


    <div class="section-title ml-5">
        <h2 class="font-italic">About Me</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="row ml-5">
        <div class="col-lg-6">
            <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>24 December 2000</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+63 912345678</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Cebu City, Philippines</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Nationality:</strong> <span>Filipino</span></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Wala pa</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Language Spoken:</strong> <span>Cebuano, Tagalog, English</span></li>
            </ul>
        </div>
    </div>


    <div class="album py-5 ml-5">
        <div class="container">
            <h2 class="font-italic">My Photos</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://scontent.fceb1-2.fna.fbcdn.net/v/t39.30808-6/383758948_6608999322515797_1130424964838302172_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=a2f6c7&_nc_eui2=AeGG5Qsp8cHaaPOZcxWUhbLAp_BXD9mhqr-n8FcP2aGqv47rYuZxuA6odi9SZm7yMmEkxDUvT39OycEfcSUaShIG&_nc_ohc=HgsBRx-_ZEAAX__xs6u&_nc_zt=23&_nc_ht=scontent.fceb1-2.fna&oh=00_AfDf9AGJvAo5EJyO3R1qCjvyJqzqdvEWRtx1Mh2DhS5IGg&oe=65265223" alt="Card image cap" >
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://scontent.fceb1-2.fna.fbcdn.net/v/t39.30808-6/383758948_6608999322515797_1130424964838302172_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=a2f6c7&_nc_eui2=AeGG5Qsp8cHaaPOZcxWUhbLAp_BXD9mhqr-n8FcP2aGqv47rYuZxuA6odi9SZm7yMmEkxDUvT39OycEfcSUaShIG&_nc_ohc=HgsBRx-_ZEAAX__xs6u&_nc_zt=23&_nc_ht=scontent.fceb1-2.fna&oh=00_AfDf9AGJvAo5EJyO3R1qCjvyJqzqdvEWRtx1Mh2DhS5IGg&oe=65265223" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

